:root {
  --color: #e4e458dc;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  width: auto;
}

h2 span {
  color: var(--color);
  display: block;
}

.name::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--color);
  display: block;
  transition: all 300ms;
}

.name:hover::after {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container span {
  align-items: center;
}

.container span:hover {
  color: var(--color);
}

.errors {
  color: red;
}
